# Entorno virtual
venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Base de datos
*.db
*.sqlite
*.sqlite3
*.config_db.py

# Logs
*.log

# OS
.DS_Store
Thumbs.db